*, *:after, *:before {
	box-sizing: border-box;
}

.App {
    background: url(./andreas-gucklhorn-mawU2PoJWfU-unsplash.jpg) no-repeat center fixed;     
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    position: absolute;

}
@font-face {
    font-family: 'Apple';
    src:  url('./fonts/HomemadeApple-Regular\ copy.ttf')

  }

  @font-face {
    font-family: 'RockSalt';
    src:  url('./fonts/RockSalt-Regular.ttf')

  }  
@media only screen and (max-width: 600px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .header {
        font-size: 60px !important;
    }
    .navbar.fixed-bottom.header{
        padding: 0;
        margin-right: -10px !important;
    }
}

.header {
    /* font-family: 'RockSalt'; */
    font-size: 120px;
    text-align: right;
    font-weight: 700;
    text-shadow: 3px 3px 9px rgba(88, 150, 150, 0.66);
}

.navbar.fixed-bottom.header{
    padding: 30px;
    margin-right: 20px;
}

.nav{
    /* background-color: rgba(0, 0, 0, 0.657); */
    background-color: rgb(20, 19, 27);

    opacity: 95%;
    border-radius: 8px;
    width: 220px;
    height: 600px;
    position: absolute;
    left: 20px;
    top: 60px
}

section {
  width: 100% !important;
  height: 100vh;
  color: white;
}
body:not(#home) {
    background-color:#10240f;
    /* background-color: #d49c8c; */

}

.about{
    /* text-align: center !important; */
    font-size: 60px;
    padding: 30px;
}


.info{
    text-align: center;
}

.headshot {
    width: 400px !important;
    height: 400px !important;
    border-radius: 50%;
}